PravoRBClient/src/wsdl/localhost_8080/PravoRBServer-web/ActsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.andreenkomv.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.andreenkomv.com/" name="ActsService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.andreenkomv.com/" schemaLocation="http://localhost:8080/PravoRBServer-web/ActsService?xsd=1"/>
</xsd:schema>
</types>
<message name="countActs">
<part name="parameters" element="tns:countActs"/>
</message>
<message name="countActsResponse">
<part name="parameters" element="tns:countActsResponse"/>
</message>
<message name="getActsByTexts">
<part name="parameters" element="tns:getActsByTexts"/>
</message>
<message name="getActsByTextsResponse">
<part name="parameters" element="tns:getActsByTextsResponse"/>
</message>
<message name="getActs">
<part name="parameters" element="tns:getActs"/>
</message>
<message name="getActsResponse">
<part name="parameters" element="tns:getActsResponse"/>
</message>
<message name="listActsByPart">
<part name="parameters" element="tns:listActsByPart"/>
</message>
<message name="listActsByPartResponse">
<part name="parameters" element="tns:listActsByPartResponse"/>
</message>
<message name="createActs">
<part name="parameters" element="tns:createActs"/>
</message>
<message name="createActsResponse">
<part name="parameters" element="tns:createActsResponse"/>
</message>
<message name="deleteActs">
<part name="parameters" element="tns:deleteActs"/>
</message>
<message name="listActs">
<part name="parameters" element="tns:listActs"/>
</message>
<message name="listActsResponse">
<part name="parameters" element="tns:listActsResponse"/>
</message>
<message name="editActs">
<part name="parameters" element="tns:editActs"/>
</message>
<message name="getActsInFavorites">
<part name="parameters" element="tns:getActsInFavorites"/>
</message>
<message name="getActsInFavoritesResponse">
<part name="parameters" element="tns:getActsInFavoritesResponse"/>
</message>
<portType name="ActsService">
<operation name="countActs">
<input wsam:Action="http://ws.andreenkomv.com/ActsService/countActsRequest" message="tns:countActs"/>
<output wsam:Action="http://ws.andreenkomv.com/ActsService/countActsResponse" message="tns:countActsResponse"/>
</operation>
<operation name="getActsByTexts">
<input wsam:Action="http://ws.andreenkomv.com/ActsService/getActsByTextsRequest" message="tns:getActsByTexts"/>
<output wsam:Action="http://ws.andreenkomv.com/ActsService/getActsByTextsResponse" message="tns:getActsByTextsResponse"/>
</operation>
<operation name="getActs">
<input wsam:Action="http://ws.andreenkomv.com/ActsService/getActsRequest" message="tns:getActs"/>
<output wsam:Action="http://ws.andreenkomv.com/ActsService/getActsResponse" message="tns:getActsResponse"/>
</operation>
<operation name="listActsByPart">
<input wsam:Action="http://ws.andreenkomv.com/ActsService/listActsByPartRequest" message="tns:listActsByPart"/>
<output wsam:Action="http://ws.andreenkomv.com/ActsService/listActsByPartResponse" message="tns:listActsByPartResponse"/>
</operation>
<operation name="createActs">
<input wsam:Action="http://ws.andreenkomv.com/ActsService/createActsRequest" message="tns:createActs"/>
<output wsam:Action="http://ws.andreenkomv.com/ActsService/createActsResponse" message="tns:createActsResponse"/>
</operation>
<operation name="deleteActs">
<input wsam:Action="http://ws.andreenkomv.com/ActsService/deleteActs" message="tns:deleteActs"/>
</operation>
<operation name="listActs">
<input wsam:Action="http://ws.andreenkomv.com/ActsService/listActsRequest" message="tns:listActs"/>
<output wsam:Action="http://ws.andreenkomv.com/ActsService/listActsResponse" message="tns:listActsResponse"/>
</operation>
<operation name="editActs">
<input wsam:Action="http://ws.andreenkomv.com/ActsService/editActs" message="tns:editActs"/>
</operation>
<operation name="getActsInFavorites">
<input wsam:Action="http://ws.andreenkomv.com/ActsService/getActsInFavoritesRequest" message="tns:getActsInFavorites"/>
<output wsam:Action="http://ws.andreenkomv.com/ActsService/getActsInFavoritesResponse" message="tns:getActsInFavoritesResponse"/>
</operation>
</portType>
<binding name="ActsServicePortBinding" type="tns:ActsService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="countActs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getActsByTexts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getActs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listActsByPart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createActs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteActs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="listActs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editActs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getActsInFavorites">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ActsService">
<port name="ActsServicePort" binding="tns:ActsServicePortBinding">
<soap:address location="http://localhost:8080/PravoRBServer-web/ActsService"/>
</port>
</service>
</definitions>