PravoRBClient/src/wsdl/localhost_8080/PravoRBServer-web/FavoritesService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.andreenkomv.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.andreenkomv.com/" name="FavoritesService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.andreenkomv.com/" schemaLocation="http://localhost:8080/PravoRBServer-web/FavoritesService?xsd=1"/>
</xsd:schema>
</types>
<message name="listFavoritesByUser">
<part name="parameters" element="tns:listFavoritesByUser"/>
</message>
<message name="listFavoritesByUserResponse">
<part name="parameters" element="tns:listFavoritesByUserResponse"/>
</message>
<message name="createByUserAndAct">
<part name="parameters" element="tns:createByUserAndAct"/>
</message>
<message name="createByUserAndActResponse">
<part name="parameters" element="tns:createByUserAndActResponse"/>
</message>
<message name="deleteByUserAndAct">
<part name="parameters" element="tns:deleteByUserAndAct"/>
</message>
<message name="editFavorites">
<part name="parameters" element="tns:editFavorites"/>
</message>
<message name="getFavorites">
<part name="parameters" element="tns:getFavorites"/>
</message>
<message name="getFavoritesResponse">
<part name="parameters" element="tns:getFavoritesResponse"/>
</message>
<message name="createFavorites">
<part name="parameters" element="tns:createFavorites"/>
</message>
<message name="createFavoritesResponse">
<part name="parameters" element="tns:createFavoritesResponse"/>
</message>
<message name="listFavorites">
<part name="parameters" element="tns:listFavorites"/>
</message>
<message name="listFavoritesResponse">
<part name="parameters" element="tns:listFavoritesResponse"/>
</message>
<message name="countFavorites">
<part name="parameters" element="tns:countFavorites"/>
</message>
<message name="countFavoritesResponse">
<part name="parameters" element="tns:countFavoritesResponse"/>
</message>
<message name="deleteFavorites">
<part name="parameters" element="tns:deleteFavorites"/>
</message>
<message name="getByUserAndAct">
<part name="parameters" element="tns:getByUserAndAct"/>
</message>
<message name="getByUserAndActResponse">
<part name="parameters" element="tns:getByUserAndActResponse"/>
</message>
<portType name="FavoritesService">
<operation name="listFavoritesByUser">
<input wsam:Action="http://ws.andreenkomv.com/FavoritesService/listFavoritesByUserRequest" message="tns:listFavoritesByUser"/>
<output wsam:Action="http://ws.andreenkomv.com/FavoritesService/listFavoritesByUserResponse" message="tns:listFavoritesByUserResponse"/>
</operation>
<operation name="createByUserAndAct">
<input wsam:Action="http://ws.andreenkomv.com/FavoritesService/createByUserAndActRequest" message="tns:createByUserAndAct"/>
<output wsam:Action="http://ws.andreenkomv.com/FavoritesService/createByUserAndActResponse" message="tns:createByUserAndActResponse"/>
</operation>
<operation name="deleteByUserAndAct">
<input wsam:Action="http://ws.andreenkomv.com/FavoritesService/deleteByUserAndAct" message="tns:deleteByUserAndAct"/>
</operation>
<operation name="editFavorites">
<input wsam:Action="http://ws.andreenkomv.com/FavoritesService/editFavorites" message="tns:editFavorites"/>
</operation>
<operation name="getFavorites">
<input wsam:Action="http://ws.andreenkomv.com/FavoritesService/getFavoritesRequest" message="tns:getFavorites"/>
<output wsam:Action="http://ws.andreenkomv.com/FavoritesService/getFavoritesResponse" message="tns:getFavoritesResponse"/>
</operation>
<operation name="createFavorites">
<input wsam:Action="http://ws.andreenkomv.com/FavoritesService/createFavoritesRequest" message="tns:createFavorites"/>
<output wsam:Action="http://ws.andreenkomv.com/FavoritesService/createFavoritesResponse" message="tns:createFavoritesResponse"/>
</operation>
<operation name="listFavorites">
<input wsam:Action="http://ws.andreenkomv.com/FavoritesService/listFavoritesRequest" message="tns:listFavorites"/>
<output wsam:Action="http://ws.andreenkomv.com/FavoritesService/listFavoritesResponse" message="tns:listFavoritesResponse"/>
</operation>
<operation name="countFavorites">
<input wsam:Action="http://ws.andreenkomv.com/FavoritesService/countFavoritesRequest" message="tns:countFavorites"/>
<output wsam:Action="http://ws.andreenkomv.com/FavoritesService/countFavoritesResponse" message="tns:countFavoritesResponse"/>
</operation>
<operation name="deleteFavorites">
<input wsam:Action="http://ws.andreenkomv.com/FavoritesService/deleteFavorites" message="tns:deleteFavorites"/>
</operation>
<operation name="getByUserAndAct">
<input wsam:Action="http://ws.andreenkomv.com/FavoritesService/getByUserAndActRequest" message="tns:getByUserAndAct"/>
<output wsam:Action="http://ws.andreenkomv.com/FavoritesService/getByUserAndActResponse" message="tns:getByUserAndActResponse"/>
</operation>
</portType>
<binding name="FavoritesServicePortBinding" type="tns:FavoritesService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listFavoritesByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createByUserAndAct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteByUserAndAct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editFavorites">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getFavorites">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createFavorites">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listFavorites">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countFavorites">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteFavorites">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getByUserAndAct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FavoritesService">
<port name="FavoritesServicePort" binding="tns:FavoritesServicePortBinding">
<soap:address location="http://localhost:8080/PravoRBServer-web/FavoritesService"/>
</port>
</service>
</definitions>