PravoRBClient/src/wsdl/localhost_8080/PravoRBServer-web/GroupsService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.andreenkomv.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.andreenkomv.com/">

<xs:element name="countGroups" type="tns:countGroups"/>

<xs:element name="countGroupsResponse" type="tns:countGroupsResponse"/>

<xs:element name="createGroups" type="tns:createGroups"/>

<xs:element name="createGroupsResponse" type="tns:createGroupsResponse"/>

<xs:element name="deleteGroups" type="tns:deleteGroups"/>

<xs:element name="editGroups" type="tns:editGroups"/>

<xs:element name="getGroups" type="tns:getGroups"/>

<xs:element name="getGroupsResponse" type="tns:getGroupsResponse"/>

<xs:element name="listGroups" type="tns:listGroups"/>

<xs:element name="listGroupsResponse" type="tns:listGroupsResponse"/>

<xs:complexType name="listGroups">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listGroupsResponse">
<xs:sequence>
<xs:element name="return" type="tns:groups" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="groups">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editGroups">
<xs:sequence>
<xs:element name="l" type="tns:groups" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGroups">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGroupsResponse">
<xs:sequence>
<xs:element name="return" type="tns:groups" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createGroups">
<xs:sequence>
<xs:element name="l" type="tns:groups" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createGroupsResponse">
<xs:sequence>
<xs:element name="return" type="tns:groups" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteGroups">
<xs:sequence>
<xs:element name="l" type="tns:groups" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countGroups">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countGroupsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>