PravoRBClient/src/wsdl/localhost_8080/PravoRBServer-web/GroupsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.andreenkomv.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.andreenkomv.com/" name="GroupsService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.andreenkomv.com/" schemaLocation="http://localhost:8080/PravoRBServer-web/GroupsService?xsd=1"/>
</xsd:schema>
</types>
<message name="createGroups">
<part name="parameters" element="tns:createGroups"/>
</message>
<message name="createGroupsResponse">
<part name="parameters" element="tns:createGroupsResponse"/>
</message>
<message name="listGroups">
<part name="parameters" element="tns:listGroups"/>
</message>
<message name="listGroupsResponse">
<part name="parameters" element="tns:listGroupsResponse"/>
</message>
<message name="countGroups">
<part name="parameters" element="tns:countGroups"/>
</message>
<message name="countGroupsResponse">
<part name="parameters" element="tns:countGroupsResponse"/>
</message>
<message name="editGroups">
<part name="parameters" element="tns:editGroups"/>
</message>
<message name="deleteGroups">
<part name="parameters" element="tns:deleteGroups"/>
</message>
<message name="getGroups">
<part name="parameters" element="tns:getGroups"/>
</message>
<message name="getGroupsResponse">
<part name="parameters" element="tns:getGroupsResponse"/>
</message>
<portType name="GroupsService">
<operation name="createGroups">
<input wsam:Action="http://ws.andreenkomv.com/GroupsService/createGroupsRequest" message="tns:createGroups"/>
<output wsam:Action="http://ws.andreenkomv.com/GroupsService/createGroupsResponse" message="tns:createGroupsResponse"/>
</operation>
<operation name="listGroups">
<input wsam:Action="http://ws.andreenkomv.com/GroupsService/listGroupsRequest" message="tns:listGroups"/>
<output wsam:Action="http://ws.andreenkomv.com/GroupsService/listGroupsResponse" message="tns:listGroupsResponse"/>
</operation>
<operation name="countGroups">
<input wsam:Action="http://ws.andreenkomv.com/GroupsService/countGroupsRequest" message="tns:countGroups"/>
<output wsam:Action="http://ws.andreenkomv.com/GroupsService/countGroupsResponse" message="tns:countGroupsResponse"/>
</operation>
<operation name="editGroups">
<input wsam:Action="http://ws.andreenkomv.com/GroupsService/editGroups" message="tns:editGroups"/>
</operation>
<operation name="deleteGroups">
<input wsam:Action="http://ws.andreenkomv.com/GroupsService/deleteGroups" message="tns:deleteGroups"/>
</operation>
<operation name="getGroups">
<input wsam:Action="http://ws.andreenkomv.com/GroupsService/getGroupsRequest" message="tns:getGroups"/>
<output wsam:Action="http://ws.andreenkomv.com/GroupsService/getGroupsResponse" message="tns:getGroupsResponse"/>
</operation>
</portType>
<binding name="GroupsServicePortBinding" type="tns:GroupsService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="deleteGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GroupsService">
<port name="GroupsServicePort" binding="tns:GroupsServicePortBinding">
<soap:address location="http://localhost:8080/PravoRBServer-web/GroupsService"/>
</port>
</service>
</definitions>