PravoRBClient/src/wsdl/localhost_8080/PravoRBServer-web/HistoryService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.andreenkomv.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.andreenkomv.com/" name="HistoryService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.andreenkomv.com/" schemaLocation="http://localhost:8080/PravoRBServer-web/HistoryService?xsd=1"/>
</xsd:schema>
</types>
<message name="listLastActsHistoryByUserFavorites">
<part name="parameters" element="tns:listLastActsHistoryByUserFavorites"/>
</message>
<message name="listLastActsHistoryByUserFavoritesResponse">
<part name="parameters" element="tns:listLastActsHistoryByUserFavoritesResponse"/>
</message>
<message name="createHistory">
<part name="parameters" element="tns:createHistory"/>
</message>
<message name="createHistoryResponse">
<part name="parameters" element="tns:createHistoryResponse"/>
</message>
<message name="getHistory">
<part name="parameters" element="tns:getHistory"/>
</message>
<message name="getHistoryResponse">
<part name="parameters" element="tns:getHistoryResponse"/>
</message>
<message name="listHistory">
<part name="parameters" element="tns:listHistory"/>
</message>
<message name="listHistoryResponse">
<part name="parameters" element="tns:listHistoryResponse"/>
</message>
<message name="countHistory">
<part name="parameters" element="tns:countHistory"/>
</message>
<message name="countHistoryResponse">
<part name="parameters" element="tns:countHistoryResponse"/>
</message>
<message name="editHistory">
<part name="parameters" element="tns:editHistory"/>
</message>
<message name="deleteHistory">
<part name="parameters" element="tns:deleteHistory"/>
</message>
<message name="listHistoryByActs">
<part name="parameters" element="tns:listHistoryByActs"/>
</message>
<message name="listHistoryByActsResponse">
<part name="parameters" element="tns:listHistoryByActsResponse"/>
</message>
<message name="listHistoryByUser">
<part name="parameters" element="tns:listHistoryByUser"/>
</message>
<message name="listHistoryByUserResponse">
<part name="parameters" element="tns:listHistoryByUserResponse"/>
</message>
<message name="getLastHistoryByActs">
<part name="parameters" element="tns:getLastHistoryByActs"/>
</message>
<message name="getLastHistoryByActsResponse">
<part name="parameters" element="tns:getLastHistoryByActsResponse"/>
</message>
<message name="listLastActsHistoryByPart">
<part name="parameters" element="tns:listLastActsHistoryByPart"/>
</message>
<message name="listLastActsHistoryByPartResponse">
<part name="parameters" element="tns:listLastActsHistoryByPartResponse"/>
</message>
<message name="getHistoryByTexts">
<part name="parameters" element="tns:getHistoryByTexts"/>
</message>
<message name="getHistoryByTextsResponse">
<part name="parameters" element="tns:getHistoryByTextsResponse"/>
</message>
<portType name="HistoryService">
<operation name="listLastActsHistoryByUserFavorites">
<input wsam:Action="http://ws.andreenkomv.com/HistoryService/listLastActsHistoryByUserFavoritesRequest" message="tns:listLastActsHistoryByUserFavorites"/>
<output wsam:Action="http://ws.andreenkomv.com/HistoryService/listLastActsHistoryByUserFavoritesResponse" message="tns:listLastActsHistoryByUserFavoritesResponse"/>
</operation>
<operation name="createHistory">
<input wsam:Action="http://ws.andreenkomv.com/HistoryService/createHistoryRequest" message="tns:createHistory"/>
<output wsam:Action="http://ws.andreenkomv.com/HistoryService/createHistoryResponse" message="tns:createHistoryResponse"/>
</operation>
<operation name="getHistory">
<input wsam:Action="http://ws.andreenkomv.com/HistoryService/getHistoryRequest" message="tns:getHistory"/>
<output wsam:Action="http://ws.andreenkomv.com/HistoryService/getHistoryResponse" message="tns:getHistoryResponse"/>
</operation>
<operation name="listHistory">
<input wsam:Action="http://ws.andreenkomv.com/HistoryService/listHistoryRequest" message="tns:listHistory"/>
<output wsam:Action="http://ws.andreenkomv.com/HistoryService/listHistoryResponse" message="tns:listHistoryResponse"/>
</operation>
<operation name="countHistory">
<input wsam:Action="http://ws.andreenkomv.com/HistoryService/countHistoryRequest" message="tns:countHistory"/>
<output wsam:Action="http://ws.andreenkomv.com/HistoryService/countHistoryResponse" message="tns:countHistoryResponse"/>
</operation>
<operation name="editHistory">
<input wsam:Action="http://ws.andreenkomv.com/HistoryService/editHistory" message="tns:editHistory"/>
</operation>
<operation name="deleteHistory">
<input wsam:Action="http://ws.andreenkomv.com/HistoryService/deleteHistory" message="tns:deleteHistory"/>
</operation>
<operation name="listHistoryByActs">
<input wsam:Action="http://ws.andreenkomv.com/HistoryService/listHistoryByActsRequest" message="tns:listHistoryByActs"/>
<output wsam:Action="http://ws.andreenkomv.com/HistoryService/listHistoryByActsResponse" message="tns:listHistoryByActsResponse"/>
</operation>
<operation name="listHistoryByUser">
<input wsam:Action="http://ws.andreenkomv.com/HistoryService/listHistoryByUserRequest" message="tns:listHistoryByUser"/>
<output wsam:Action="http://ws.andreenkomv.com/HistoryService/listHistoryByUserResponse" message="tns:listHistoryByUserResponse"/>
</operation>
<operation name="getLastHistoryByActs">
<input wsam:Action="http://ws.andreenkomv.com/HistoryService/getLastHistoryByActsRequest" message="tns:getLastHistoryByActs"/>
<output wsam:Action="http://ws.andreenkomv.com/HistoryService/getLastHistoryByActsResponse" message="tns:getLastHistoryByActsResponse"/>
</operation>
<operation name="listLastActsHistoryByPart">
<input wsam:Action="http://ws.andreenkomv.com/HistoryService/listLastActsHistoryByPartRequest" message="tns:listLastActsHistoryByPart"/>
<output wsam:Action="http://ws.andreenkomv.com/HistoryService/listLastActsHistoryByPartResponse" message="tns:listLastActsHistoryByPartResponse"/>
</operation>
<operation name="getHistoryByTexts">
<input wsam:Action="http://ws.andreenkomv.com/HistoryService/getHistoryByTextsRequest" message="tns:getHistoryByTexts"/>
<output wsam:Action="http://ws.andreenkomv.com/HistoryService/getHistoryByTextsResponse" message="tns:getHistoryByTextsResponse"/>
</operation>
</portType>
<binding name="HistoryServicePortBinding" type="tns:HistoryService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listLastActsHistoryByUserFavorites">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="deleteHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="listHistoryByActs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listHistoryByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLastHistoryByActs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listLastActsHistoryByPart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHistoryByTexts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HistoryService">
<port name="HistoryServicePort" binding="tns:HistoryServicePortBinding">
<soap:address location="http://localhost:8080/PravoRBServer-web/HistoryService"/>
</port>
</service>
</definitions>