PravoRBClient/src/wsdl/localhost_8080/PravoRBServer-web/PartsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.andreenkomv.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.andreenkomv.com/" name="PartsService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.andreenkomv.com/" schemaLocation="http://localhost:8080/PravoRBServer-web/PartsService?xsd=1"/>
</xsd:schema>
</types>
<message name="listPartsByParent">
<part name="parameters" element="tns:listPartsByParent"/>
</message>
<message name="listPartsByParentResponse">
<part name="parameters" element="tns:listPartsByParentResponse"/>
</message>
<message name="createParts">
<part name="parameters" element="tns:createParts"/>
</message>
<message name="createPartsResponse">
<part name="parameters" element="tns:createPartsResponse"/>
</message>
<message name="deleteParts">
<part name="parameters" element="tns:deleteParts"/>
</message>
<message name="editParts">
<part name="parameters" element="tns:editParts"/>
</message>
<message name="listParts">
<part name="parameters" element="tns:listParts"/>
</message>
<message name="listPartsResponse">
<part name="parameters" element="tns:listPartsResponse"/>
</message>
<message name="countParts">
<part name="parameters" element="tns:countParts"/>
</message>
<message name="countPartsResponse">
<part name="parameters" element="tns:countPartsResponse"/>
</message>
<message name="getParts">
<part name="parameters" element="tns:getParts"/>
</message>
<message name="getPartsResponse">
<part name="parameters" element="tns:getPartsResponse"/>
</message>
<portType name="PartsService">
<operation name="listPartsByParent">
<input wsam:Action="http://ws.andreenkomv.com/PartsService/listPartsByParentRequest" message="tns:listPartsByParent"/>
<output wsam:Action="http://ws.andreenkomv.com/PartsService/listPartsByParentResponse" message="tns:listPartsByParentResponse"/>
</operation>
<operation name="createParts">
<input wsam:Action="http://ws.andreenkomv.com/PartsService/createPartsRequest" message="tns:createParts"/>
<output wsam:Action="http://ws.andreenkomv.com/PartsService/createPartsResponse" message="tns:createPartsResponse"/>
</operation>
<operation name="deleteParts">
<input wsam:Action="http://ws.andreenkomv.com/PartsService/deleteParts" message="tns:deleteParts"/>
</operation>
<operation name="editParts">
<input wsam:Action="http://ws.andreenkomv.com/PartsService/editParts" message="tns:editParts"/>
</operation>
<operation name="listParts">
<input wsam:Action="http://ws.andreenkomv.com/PartsService/listPartsRequest" message="tns:listParts"/>
<output wsam:Action="http://ws.andreenkomv.com/PartsService/listPartsResponse" message="tns:listPartsResponse"/>
</operation>
<operation name="countParts">
<input wsam:Action="http://ws.andreenkomv.com/PartsService/countPartsRequest" message="tns:countParts"/>
<output wsam:Action="http://ws.andreenkomv.com/PartsService/countPartsResponse" message="tns:countPartsResponse"/>
</operation>
<operation name="getParts">
<input wsam:Action="http://ws.andreenkomv.com/PartsService/getPartsRequest" message="tns:getParts"/>
<output wsam:Action="http://ws.andreenkomv.com/PartsService/getPartsResponse" message="tns:getPartsResponse"/>
</operation>
</portType>
<binding name="PartsServicePortBinding" type="tns:PartsService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listPartsByParent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createParts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteParts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editParts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="listParts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countParts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getParts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PartsService">
<port name="PartsServicePort" binding="tns:PartsServicePortBinding">
<soap:address location="http://localhost:8080/PravoRBServer-web/PartsService"/>
</port>
</service>
</definitions>