PravoRBClient/src/wsdl/localhost_8080/PravoRBServer-web/TextsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.andreenkomv.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.andreenkomv.com/" name="TextsService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.andreenkomv.com/" schemaLocation="http://localhost:8080/PravoRBServer-web/TextsService?xsd=1"/>
</xsd:schema>
</types>
<message name="getLastTextsByActs">
<part name="parameters" element="tns:getLastTextsByActs"/>
</message>
<message name="getLastTextsByActsResponse">
<part name="parameters" element="tns:getLastTextsByActsResponse"/>
</message>
<message name="editTexts">
<part name="parameters" element="tns:editTexts"/>
</message>
<message name="deleteTexts">
<part name="parameters" element="tns:deleteTexts"/>
</message>
<message name="createTexts">
<part name="parameters" element="tns:createTexts"/>
</message>
<message name="createTextsResponse">
<part name="parameters" element="tns:createTextsResponse"/>
</message>
<message name="countTexts">
<part name="parameters" element="tns:countTexts"/>
</message>
<message name="countTextsResponse">
<part name="parameters" element="tns:countTextsResponse"/>
</message>
<message name="listTexts">
<part name="parameters" element="tns:listTexts"/>
</message>
<message name="listTextsResponse">
<part name="parameters" element="tns:listTextsResponse"/>
</message>
<message name="getTexts">
<part name="parameters" element="tns:getTexts"/>
</message>
<message name="getTextsResponse">
<part name="parameters" element="tns:getTextsResponse"/>
</message>
<portType name="TextsService">
<operation name="getLastTextsByActs">
<input wsam:Action="http://ws.andreenkomv.com/TextsService/getLastTextsByActsRequest" message="tns:getLastTextsByActs"/>
<output wsam:Action="http://ws.andreenkomv.com/TextsService/getLastTextsByActsResponse" message="tns:getLastTextsByActsResponse"/>
</operation>
<operation name="editTexts">
<input wsam:Action="http://ws.andreenkomv.com/TextsService/editTexts" message="tns:editTexts"/>
</operation>
<operation name="deleteTexts">
<input wsam:Action="http://ws.andreenkomv.com/TextsService/deleteTexts" message="tns:deleteTexts"/>
</operation>
<operation name="createTexts">
<input wsam:Action="http://ws.andreenkomv.com/TextsService/createTextsRequest" message="tns:createTexts"/>
<output wsam:Action="http://ws.andreenkomv.com/TextsService/createTextsResponse" message="tns:createTextsResponse"/>
</operation>
<operation name="countTexts">
<input wsam:Action="http://ws.andreenkomv.com/TextsService/countTextsRequest" message="tns:countTexts"/>
<output wsam:Action="http://ws.andreenkomv.com/TextsService/countTextsResponse" message="tns:countTextsResponse"/>
</operation>
<operation name="listTexts">
<input wsam:Action="http://ws.andreenkomv.com/TextsService/listTextsRequest" message="tns:listTexts"/>
<output wsam:Action="http://ws.andreenkomv.com/TextsService/listTextsResponse" message="tns:listTextsResponse"/>
</operation>
<operation name="getTexts">
<input wsam:Action="http://ws.andreenkomv.com/TextsService/getTextsRequest" message="tns:getTexts"/>
<output wsam:Action="http://ws.andreenkomv.com/TextsService/getTextsResponse" message="tns:getTextsResponse"/>
</operation>
</portType>
<binding name="TextsServicePortBinding" type="tns:TextsService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getLastTextsByActs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editTexts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="deleteTexts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createTexts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countTexts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listTexts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTexts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TextsService">
<port name="TextsServicePort" binding="tns:TextsServicePortBinding">
<soap:address location="http://localhost:8080/PravoRBServer-web/TextsService"/>
</port>
</service>
</definitions>