PravoRBClient/src/wsdl/localhost_8080/PravoRBServer-web/TextsService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.andreenkomv.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.andreenkomv.com/">

<xs:element name="countTexts" type="tns:countTexts"/>

<xs:element name="countTextsResponse" type="tns:countTextsResponse"/>

<xs:element name="createTexts" type="tns:createTexts"/>

<xs:element name="createTextsResponse" type="tns:createTextsResponse"/>

<xs:element name="deleteTexts" type="tns:deleteTexts"/>

<xs:element name="editTexts" type="tns:editTexts"/>

<xs:element name="getLastTextsByActs" type="tns:getLastTextsByActs"/>

<xs:element name="getLastTextsByActsResponse" type="tns:getLastTextsByActsResponse"/>

<xs:element name="getTexts" type="tns:getTexts"/>

<xs:element name="getTextsResponse" type="tns:getTextsResponse"/>

<xs:element name="listTexts" type="tns:listTexts"/>

<xs:element name="listTextsResponse" type="tns:listTextsResponse"/>

<xs:complexType name="listTexts">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listTextsResponse">
<xs:sequence>
<xs:element name="return" type="tns:texts" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="texts">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="text" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTexts">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTextsResponse">
<xs:sequence>
<xs:element name="return" type="tns:texts" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteTexts">
<xs:sequence>
<xs:element name="l" type="tns:texts" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editTexts">
<xs:sequence>
<xs:element name="l" type="tns:texts" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTexts">
<xs:sequence>
<xs:element name="l" type="tns:texts" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTextsResponse">
<xs:sequence>
<xs:element name="return" type="tns:texts" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLastTextsByActs">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLastTextsByActsResponse">
<xs:sequence>
<xs:element name="return" type="tns:texts" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countTexts">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countTextsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>