PravoRBClient/src/wsdl/localhost_8080/PravoRBServer-web/UsersService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.andreenkomv.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.andreenkomv.com/">

<xs:element name="authUser" type="tns:authUser"/>

<xs:element name="authUserResponse" type="tns:authUserResponse"/>

<xs:element name="changePassword" type="tns:changePassword"/>

<xs:element name="changePasswordSecure" type="tns:changePasswordSecure"/>

<xs:element name="countUsers" type="tns:countUsers"/>

<xs:element name="countUsersResponse" type="tns:countUsersResponse"/>

<xs:element name="createUser" type="tns:createUser"/>

<xs:element name="createUsers" type="tns:createUsers"/>

<xs:element name="createUsersResponse" type="tns:createUsersResponse"/>

<xs:element name="deleteUsers" type="tns:deleteUsers"/>

<xs:element name="editUsers" type="tns:editUsers"/>

<xs:element name="getUsers" type="tns:getUsers"/>

<xs:element name="getUsersResponse" type="tns:getUsersResponse"/>

<xs:element name="listUsers" type="tns:listUsers"/>

<xs:element name="listUsersOrderByLogin" type="tns:listUsersOrderByLogin"/>

<xs:element name="listUsersOrderByLoginResponse" type="tns:listUsersOrderByLoginResponse"/>

<xs:element name="listUsersResponse" type="tns:listUsersResponse"/>

<xs:element name="setGroup" type="tns:setGroup"/>

<xs:complexType name="deleteUsers">
<xs:sequence>
<xs:element name="l" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="users">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstname" type="xs:string" minOccurs="0"/>
<xs:element name="groups" type="tns:groups" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="telephone" type="xs:string" minOccurs="0"/>
<xs:element name="zipcode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="groups">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUser">
<xs:sequence>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUsers">
<xs:sequence>
<xs:element name="l" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUsersResponse">
<xs:sequence>
<xs:element name="return" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authUser">
<xs:sequence>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listUsersOrderByLogin">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listUsersOrderByLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:users" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changePassword">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setGroup">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="g" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changePasswordSecure">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="oldpassword" type="xs:string" minOccurs="0"/>
<xs:element name="newpassword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listUsers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listUsersResponse">
<xs:sequence>
<xs:element name="return" type="tns:users" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsers">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsersResponse">
<xs:sequence>
<xs:element name="return" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countUsers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countUsersResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editUsers">
<xs:sequence>
<xs:element name="l" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>