PravoRBClient/src/wsdl/localhost_8080/PravoRBServer-web/UsersService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.andreenkomv.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.andreenkomv.com/" name="UsersService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.andreenkomv.com/" schemaLocation="http://localhost:8080/PravoRBServer-web/UsersService?xsd=1"/>
</xsd:schema>
</types>
<message name="setInfo">
<part name="parameters" element="tns:setInfo"/>
</message>
<message name="changePassword">
<part name="parameters" element="tns:changePassword"/>
</message>
<message name="listUsersOrderByLogin">
<part name="parameters" element="tns:listUsersOrderByLogin"/>
</message>
<message name="listUsersOrderByLoginResponse">
<part name="parameters" element="tns:listUsersOrderByLoginResponse"/>
</message>
<message name="changePasswordSecure">
<part name="parameters" element="tns:changePasswordSecure"/>
</message>
<message name="countUsers">
<part name="parameters" element="tns:countUsers"/>
</message>
<message name="countUsersResponse">
<part name="parameters" element="tns:countUsersResponse"/>
</message>
<message name="createUsers">
<part name="parameters" element="tns:createUsers"/>
</message>
<message name="createUsersResponse">
<part name="parameters" element="tns:createUsersResponse"/>
</message>
<message name="editUsers">
<part name="parameters" element="tns:editUsers"/>
</message>
<message name="deleteUsers">
<part name="parameters" element="tns:deleteUsers"/>
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<message name="listUsers">
<part name="parameters" element="tns:listUsers"/>
</message>
<message name="listUsersResponse">
<part name="parameters" element="tns:listUsersResponse"/>
</message>
<message name="setGroup">
<part name="parameters" element="tns:setGroup"/>
</message>
<message name="authUser">
<part name="parameters" element="tns:authUser"/>
</message>
<message name="authUserResponse">
<part name="parameters" element="tns:authUserResponse"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<portType name="UsersService">
<operation name="setInfo">
<input wsam:Action="http://ws.andreenkomv.com/UsersService/setInfo" message="tns:setInfo"/>
</operation>
<operation name="changePassword">
<input wsam:Action="http://ws.andreenkomv.com/UsersService/changePassword" message="tns:changePassword"/>
</operation>
<operation name="listUsersOrderByLogin">
<input wsam:Action="http://ws.andreenkomv.com/UsersService/listUsersOrderByLoginRequest" message="tns:listUsersOrderByLogin"/>
<output wsam:Action="http://ws.andreenkomv.com/UsersService/listUsersOrderByLoginResponse" message="tns:listUsersOrderByLoginResponse"/>
</operation>
<operation name="changePasswordSecure">
<input wsam:Action="http://ws.andreenkomv.com/UsersService/changePasswordSecure" message="tns:changePasswordSecure"/>
</operation>
<operation name="countUsers">
<input wsam:Action="http://ws.andreenkomv.com/UsersService/countUsersRequest" message="tns:countUsers"/>
<output wsam:Action="http://ws.andreenkomv.com/UsersService/countUsersResponse" message="tns:countUsersResponse"/>
</operation>
<operation name="createUsers">
<input wsam:Action="http://ws.andreenkomv.com/UsersService/createUsersRequest" message="tns:createUsers"/>
<output wsam:Action="http://ws.andreenkomv.com/UsersService/createUsersResponse" message="tns:createUsersResponse"/>
</operation>
<operation name="editUsers">
<input wsam:Action="http://ws.andreenkomv.com/UsersService/editUsers" message="tns:editUsers"/>
</operation>
<operation name="deleteUsers">
<input wsam:Action="http://ws.andreenkomv.com/UsersService/deleteUsers" message="tns:deleteUsers"/>
</operation>
<operation name="getUsers">
<input wsam:Action="http://ws.andreenkomv.com/UsersService/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://ws.andreenkomv.com/UsersService/getUsersResponse" message="tns:getUsersResponse"/>
</operation>
<operation name="listUsers">
<input wsam:Action="http://ws.andreenkomv.com/UsersService/listUsersRequest" message="tns:listUsers"/>
<output wsam:Action="http://ws.andreenkomv.com/UsersService/listUsersResponse" message="tns:listUsersResponse"/>
</operation>
<operation name="setGroup">
<input wsam:Action="http://ws.andreenkomv.com/UsersService/setGroup" message="tns:setGroup"/>
</operation>
<operation name="authUser">
<input wsam:Action="http://ws.andreenkomv.com/UsersService/authUserRequest" message="tns:authUser"/>
<output wsam:Action="http://ws.andreenkomv.com/UsersService/authUserResponse" message="tns:authUserResponse"/>
</operation>
<operation name="createUser">
<input wsam:Action="http://ws.andreenkomv.com/UsersService/createUser" message="tns:createUser"/>
</operation>
</portType>
<binding name="UsersServicePortBinding" type="tns:UsersService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="setInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="changePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="listUsersOrderByLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changePasswordSecure">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="countUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="deleteUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="authUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="UsersService">
<port name="UsersServicePort" binding="tns:UsersServicePortBinding">
<soap:address location="http://localhost:8080/PravoRBServer-web/UsersService"/>
</port>
</service>
</definitions>